* {
  box-sizing: border-box;
}
html, body {
  align-content: inherit;
  align-items: inherit;
  align-self: inherit;
  alignment-baseline: inherit;
  animation-delay: inherit;
  animation-direction: inherit;
  animation-duration: inherit;
  animation-fill-mode: inherit;
  animation-iteration-count: inherit;
  animation-name: inherit;
  animation-play-state: inherit;
  animation-timing-function: inherit;
  appearance: inherit;
  backdrop-filter: inherit;
  backface-visibility: inherit;
  background-attachment: inherit;
  background-blend-mode: inherit;
  background-clip: inherit;
  background-color: inherit;
  background-image: inherit;
  background-origin: inherit;
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
  baseline-shift: inherit;
  block-size: inherit;
  border-block-end-color: inherit;
  border-block-end-style: inherit;
  border-block-end-width: inherit;
  border-block-start-color: inherit;
  border-block-start-style: inherit;
  border-block-start-width: inherit;
  border-bottom-color: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-style: inherit;
  border-bottom-width: inherit;
  border-collapse: inherit;
  border-image-outset: inherit;
  border-image-repeat: inherit;
  border-image-slice: inherit;
  border-image-source: inherit;
  border-image-width: inherit;
  border-inline-end-color: inherit;
  border-inline-end-style: inherit;
  border-inline-end-width: inherit;
  border-inline-start-color: inherit;
  border-inline-start-style: inherit;
  border-inline-start-width: inherit;
  border-left-color: inherit;
  border-left-style: inherit;
  border-left-width: inherit;
  border-right-color: inherit;
  border-right-style: inherit;
  border-right-width: inherit;
  border-top-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-top-style: inherit;
  border-top-width: inherit;
  bottom: inherit;
  box-shadow: inherit;
  box-sizing: inherit;
  break-after: inherit;
  break-before: inherit;
  break-inside: inherit;
  buffered-rendering: inherit;
  caption-side: inherit;
  caret-color: inherit;
  clear: inherit;
  clip: inherit;
  clip-path: inherit;
  clip-rule: inherit;
  color: inherit;
  color-interpolation: inherit;
  color-interpolation-filters: inherit;
  color-rendering: inherit;
  column-count: inherit;
  column-gap: inherit;
  column-rule-color: inherit;
  column-rule-style: inherit;
  column-rule-width: inherit;
  column-span: inherit;
  column-width: inherit;
  content: inherit;
  cursor: inherit;
  cx: inherit;
  cy: inherit;
  d: inherit;
  direction: inherit;
  display: inherit;
  dominant-baseline: inherit;
  empty-cells: inherit;
  fill: inherit;
  fill-opacity: inherit;
  fill-rule: inherit;
  filter: inherit;
  flex-basis: inherit;
  flex-direction: inherit;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-wrap: inherit;
  float: inherit;
  flood-color: inherit;
  flood-opacity: inherit;
  font-family: inherit;
  font-kerning: inherit;
  font-optical-sizing: inherit;
  font-size: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  grid-auto-columns: inherit;
  grid-auto-flow: inherit;
  grid-auto-rows: inherit;
  grid-column-end: inherit;
  grid-column-start: inherit;
  grid-row-end: inherit;
  grid-row-start: inherit;
  grid-template-areas: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  height: inherit;
  hyphens: inherit;
  image-orientation: inherit;
  image-rendering: inherit;
  inline-size: inherit;
  inset-block-end: inherit;
  inset-block-start: inherit;
  inset-inline-end: inherit;
  inset-inline-start: inherit;
  isolation: inherit;
  justify-content: inherit;
  justify-items: inherit;
  justify-self: inherit;
  left: inherit;
  letter-spacing: inherit;
  lighting-color: inherit;
  line-break: inherit;
  line-height: inherit;
  list-style-image: inherit;
  list-style-position: inherit;
  list-style-type: inherit;
  margin-block-end: inherit;
  margin-block-start: inherit;
  margin-bottom: inherit;
  margin-inline-end: inherit;
  margin-inline-start: inherit;
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
  marker-end: inherit;
  marker-mid: inherit;
  marker-start: inherit;
  mask-type: inherit;
  max-block-size: inherit;
  max-height: inherit;
  max-inline-size: inherit;
  max-width: inherit;
  min-block-size: inherit;
  min-height: inherit;
  min-inline-size: inherit;
  min-width: inherit;
  mix-blend-mode: inherit;
  object-fit: inherit;
  object-position: inherit;
  offset-distance: inherit;
  offset-path: inherit;
  offset-rotate: inherit;
  opacity: inherit;
  order: inherit;
  orphans: inherit;
  outline-color: inherit;
  outline-offset: inherit;
  outline-style: inherit;
  outline-width: inherit;
  overflow-anchor: inherit;
  overflow-wrap: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
  overscroll-behavior-block: inherit;
  overscroll-behavior-inline: inherit;
  padding-block-end: inherit;
  padding-block-start: inherit;
  padding-bottom: inherit;
  padding-inline-end: inherit;
  padding-inline-start: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
  paint-order: inherit;
  perspective: inherit;
  perspective-origin: inherit;
  pointer-events: inherit;
  position: inherit;
  r: inherit;
  resize: inherit;
  right: inherit;
  row-gap: inherit;
  ruby-position: inherit;
  rx: inherit;
  ry: inherit;
  scroll-behavior: inherit;
  scroll-margin-block-end: inherit;
  scroll-margin-block-start: inherit;
  scroll-margin-inline-end: inherit;
  scroll-margin-inline-start: inherit;
  scroll-padding-block-end: inherit;
  scroll-padding-block-start: inherit;
  scroll-padding-inline-end: inherit;
  scroll-padding-inline-start: inherit;
  shape-image-threshold: inherit;
  shape-margin: inherit;
  shape-outside: inherit;
  shape-rendering: inherit;
  speak: inherit;
  stop-color: inherit;
  stop-opacity: inherit;
  stroke: inherit;
  stroke-dasharray: inherit;
  stroke-dashoffset: inherit;
  stroke-linecap: inherit;
  stroke-linejoin: inherit;
  stroke-miterlimit: inherit;
  stroke-opacity: inherit;
  stroke-width: inherit;
  tab-size: inherit;
  table-layout: inherit;
  text-align: inherit;
  text-align-last: inherit;
  text-anchor: inherit;
  text-decoration: inherit;
  text-decoration-color: inherit;
  text-decoration-line: inherit;
  text-decoration-skip-ink: inherit;
  text-decoration-style: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-rendering: inherit;
  text-shadow: inherit;
  text-size-adjust: inherit;
  text-transform: inherit;
  text-underline-position: inherit;
  top: inherit;
  touch-action: inherit;
  transform: inherit;
  transform-origin: inherit;
  transform-style: inherit;
  transition-delay: inherit;
  transition-duration: inherit;
  transition-property: inherit;
  transition-timing-function: inherit;
  unicode-bidi: inherit;
  user-select: inherit;
  vector-effect: inherit;
  vertical-align: inherit;
  visibility: inherit;
  white-space: inherit;
  widows: inherit;
  width: inherit;
  will-change: inherit;
  word-break: inherit;
  word-spacing: inherit;
  writing-mode: inherit;
  x: inherit;
  y: inherit;
  z-index: inherit;
  zoom: inherit;
  -webkit-app-region: inherit;
  -webkit-border-horizontal-spacing: inherit;
  -webkit-border-image: inherit;
  -webkit-border-vertical-spacing: inherit;
  -webkit-box-align: inherit;
  -webkit-box-decoration-break: inherit;
  -webkit-box-direction: inherit;
  -webkit-box-flex: inherit;
  -webkit-box-ordinal-group: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-pack: inherit;
  -webkit-box-reflect: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-highlight: inherit;
  -webkit-hyphenate-character: inherit;
  -webkit-line-break: inherit;
  -webkit-line-clamp: inherit;
  -webkit-locale: inherit;
  -webkit-mask-box-image: inherit;
  -webkit-mask-box-image-outset: inherit;
  -webkit-mask-box-image-repeat: inherit;
  -webkit-mask-box-image-slice: inherit;
  -webkit-mask-box-image-source: inherit;
  -webkit-mask-box-image-width: inherit;
  -webkit-mask-clip: inherit;
  -webkit-mask-composite: inherit;
  -webkit-mask-image: inherit;
  -webkit-mask-origin: inherit;
  -webkit-mask-position: inherit;
  -webkit-mask-repeat: inherit;
  -webkit-mask-size: inherit;
  -webkit-print-color-adjust: inherit;
  -webkit-rtl-ordering: inherit;
  -webkit-tap-highlight-color: inherit;
  -webkit-text-combine: inherit;
  -webkit-text-decorations-in-effect: inherit;
  -webkit-text-emphasis-color: inherit;
  -webkit-text-emphasis-position: inherit;
  -webkit-text-emphasis-style: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-orientation: inherit;
  -webkit-text-security: inherit;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: inherit;
  -webkit-user-drag: inherit;
  -webkit-user-modify: inherit;
  -webkit-writing-mode: inherit;
}
