*.tar.gz
*.zip
*.rpm
*.classes
*.class
*.settings
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log.*
*.log
*.sig
*.o
*.obj
*.so
*.iml
*.db
jawiki-latest-page.sql
jawiki-latest-redirect.sql

#やっぱりログは管理しないことにした
#その場限りでしかビルド用に参照しないから
log

/lib/*
/out/*
/bin/*
/gen/*
/output/*
/cache/*
/classes/*
/dist/*
/target/*
/.idea/*
